<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoming.androidknowledgepoints">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".activity.onactivityresult.CActivity"></activity>
        <activity android:name=".activity.onactivityresult.BActivity" />
        <activity android:name=".activity.onactivityresult.AActivity" />
        <activity android:name=".activity.ActivityTestActivity" />
        <activity android:name=".uiframe.waterfall2.Waterfall2Activity" />
        <activity
            android:name=".uiframe.waterfall.WaterFallActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uiframe.ScrollView1TabLayout1ViewPager1RecyclerView.UiFrame3Activity"
            android:theme="@style/AppTheme" />
        <activity android:name=".uiframe.ScrollView.UiFrame2Activity" />
        <activity android:name=".uiframe.EnterUiFrameActivity" />
        <activity android:name=".uiframe.recycleview.UiFrame1Activity" />

        <service
            android:name=".floating.floating.service.FloatingService2"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".floating.SecondActivity" />

        <service
            android:name=".floating.floating.service.FloatingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".floating.floating.FloatingActivity" />
        <activity android:name=".ajavaknowledge.multithreads.MultiThreadsActivity" />
        <activity android:name=".ajavaknowledge.localvarible.LocalVaribleActivity" />
        <activity android:name=".ajavaknowledge.valuetransition.ValueTransitionActivity" />
        <activity android:name=".deeplink.DeepLinkActivity" />
        <activity android:name=".scheme.SchemeActivity" />
        <activity android:name=".Theme.SetThemeActivity" />
        <activity android:name=".datastorage.DataStorageActivity" />
        <activity android:name=".datastorage.File.FileActivity" />
        <activity android:name=".encryption.EncryptionActivity" />
        <activity android:name=".utils.UtilActivity" />
        <activity android:name=".serialization.GoToActivity" />
        <activity android:name=".serialization.serializable.SerializableActivity" />
        <activity android:name=".serialization.parcelable.UnSerializationActivity" />
        <activity android:name=".serialization.parcelable.SerializationActivity" />
        <activity android:name=".reflect.ReflectActivity" />
        <activity android:name=".broadcast.LocalBroadcastReceiverActivity" />
        <activity android:name=".broadcast.LocalBroadcastActivity" />
        <activity android:name=".innerclass.InnerClassAndVariableActivity" />
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".jnidemo1.JNITools$JniActivity" />
        <activity android:name=".jnidemo2.Jni2Activity" />
        <activity android:name=".jnidemo.JniActivity" />
        <activity android:name=".a01widgets.video.VideoActivity" />
        <activity android:name=".json.JsonActivity" />
        <activity android:name=".regularexpression.RegularExpressionActivity" />
        <activity android:name=".solib.SoLibEntranceActivity" />
        <activity android:name=".FastClickActivity" />
        <activity android:name=".NetworkStrengthActivity" />
        <activity android:name=".PhoneOperatorActivity" />
        <activity android:name=".StatusBarActivity" />
        <activity android:name=".IsVoLteEnabledActivity" />
        <activity android:name=".IsRootActivity" />
        <activity android:name=".DialogShowActivity" />
        <activity android:name=".dialog.DialogTestActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="test"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity android:name=".deeplink.ToDeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="share"
                    android:scheme="will" />
            </intent-filter>
        </activity>
        <activity android:name=".ajavaknowledge.JavaKnowledgeActivity" />

        <service
            android:name=".floating.timerfloating.service.TimeFloatingService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>