<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoming.androidknowledgepoints">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".scheme.SchemeActivity"></activity>
        <activity android:name=".Theme.SetThemeActivity" />
        <activity android:name=".datastorage.DataStorageActivity" />
        <activity android:name=".datastorage.File.FileActivity" />
        <activity android:name=".encryption.EncryptionActivity" />
        <activity android:name=".utils.UtilActivity" />
        <activity android:name=".serialization.GoToActivity" />
        <activity android:name=".serialization.serializable.SerializableActivity" />
        <activity android:name=".serialization.parcelable.UnSerializationActivity" />
        <activity android:name=".serialization.parcelable.SerializationActivity" />
        <activity android:name=".reflect.ReflectActivity" />
        <activity android:name=".broadcast.LocalBroadcastReceiverActivity" />
        <activity android:name=".broadcast.LocalBroadcastActivity" />
        <activity android:name=".innerclass.InnerClassAndVariableActivity" />
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".jnidemo1.JNITools$JniActivity" />
        <activity android:name=".jnidemo2.Jni2Activity" />
        <activity android:name=".jnidemo.JniActivity" />
        <activity android:name=".a01widgets.video.VideoActivity" />
        <activity android:name=".json.JsonActivity" />
        <activity android:name=".regularexpression.RegularExpressionActivity" />
        <activity android:name=".solib.SoLibEntranceActivity" />
        <activity android:name=".FastClickActivity" />
        <activity android:name=".NetworkStrengthActivity" />
        <activity android:name=".PhoneOperatorActivity" />
        <activity android:name=".StatusBarActivity" />
        <activity android:name=".IsVoLteEnabledActivity" />
        <activity android:name=".IsRootActivity" />
        <activity android:name=".DialogShowActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>