<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoming.a008project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fenle.test.recyclerview.RecyclerViewDemoActivity"></activity>
        <activity android:name=".fenle.BaseActivity" />
        <activity
            android:name=".fenle.home.HomeActivity"
            android:alwaysRetainTaskState="true" />
        <activity android:name=".webviewlinked.demo4.ScrollViewActivity4" />
        <activity android:name=".webviewlinked.recyclerview.RecyclerViewActivity" />
        <activity android:name=".webviewlinked.demo3.ScrollViewActivity3" />
        <activity android:name=".webviewlinked.demo2.ScrollViewActivity2" />
        <activity android:name=".webviewlinked.demo.ScrollViewActivity" />
        <activity android:name=".im.ImTestActivity" />
        <activity android:name=".im.ChatActivity" />
        <activity android:name=".smallproject.desktopnewsreddot.TestActivity" />
        <activity android:name=".consumption.ConsumptionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>