<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoming.net">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".frame.rxjava.rxjava_retrofit.demo.RxjavaRetrofitActivity"></activity>
        <activity android:name=".frame.rxjava.okhttp_retrofit_rxjava.RxJavaRetrofitActivity" />
        <activity android:name=".frame.retrofit.demo.RetrofitDemoActivity" />
        <activity android:name=".frame.retrofit.RetrofitActivity" />
        <activity android:name=".frame.httpurlconnection.HttpUrlConnectionActivity" />
        <activity android:name=".frame.okhttp.OkHttpActivity" />
        <activity android:name=".frame.retrofit.asyncget2.AsyncGet2Activity" />
        <activity android:name=".frame.retrofit.synget.SynGetActivity" />
        <activity android:name=".frame.retrofit.asynget.GetActivity" />
        <activity android:name=".frame.retrofit.cache.CacheActivity" />
        <activity android:name=".frame.retrofit.download.DownloadActivity" />
        <activity android:name=".frame.retrofit.get3.Get3Activity" />
        <activity android:name=".frame.retrofit.Interceptor.InterceptorActivity" />
        <activity android:name=".frame.retrofit.post.PostActivity" />
        <activity android:name=".frame.retrofit.post2.Post2Activity" />
        <activity android:name=".frame.retrofit.upload.UploadActivity" />
        <activity android:name=".frame.rxjava.download.DownloadActivity" />
        <activity android:name=".frame.rxjava.RxjavaTestActivity" />
        <activity android:name=".frame.FrameTestActivity" />
        <activity android:name=".frame.glide.GlideTestEntranceActivity" />
        <activity android:name=".frame.glide.GlideImgActivity" />
        <activity android:name=".download.httpdownload.HttpDownloadActivity" />
        <activity android:name=".download.DownloadTestActivity" />
        <activity android:name=".cache.CacheTestActivity" />
        <activity android:name=".cookie.CookieTestActivity" />
        <activity android:name=".pingnet2.PingNetActivity2" />
        <activity android:name=".pingnet.PingNetActivity" />
        <activity android:name=".netdetect.NetDetectActivity" />
        <activity android:name=".cache.threelevelcache.SecondActivity" />
        <activity android:name=".cache.threelevelcache.ThreeLevelCacheActivity" />
        <activity android:name=".cache.mapcache.MapCacheTestActivity" />
        <activity android:name=".cache.HttpCacheActivity" />
        <activity android:name=".frame.rxjava.RxJavaDemoActivity" />
        <activity android:name=".frame.rxjava.RxJavaDemo2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".packegenet.PackegeNetDetectActivity" />
    </application>

</manifest>