<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoming.framearouter">

    <application
        android:name="com.xiaoming.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.xiaoming.mvx.mvvm.demo1.MvvmActivity"></activity>
        <activity android:name="com.xiaoming.databinding.demo2.DataBindingActivity2" />
        <activity android:name="com.xiaoming.databinding.demo1.DataBindingActivity" />
        <activity android:name="com.xiaoming.mvx.mvp.MvpActivity" />
        <activity android:name="com.xiaoming.mvx.mvc.MvcActivity" />
        <activity android:name="com.xiaoming.lifecycle.LifeCycleActivity" />
        <activity android:name="com.xiaoming.lifecycle.BeautyPicturesActivity" />
        <activity android:name="com.xiaoming.eventbus.demo.EventBusFirst2Activity" />
        <activity android:name="com.xiaoming.eventbus.demo.EventBusSecondActivity" />
        <activity android:name="com.xiaoming.mvx.xiangxue.mvc.controller.MvcJinziqiActivityDemo" />
        <activity android:name="com.xiaoming.mvx.xiangxue.JinziqiActivity" />
        <activity android:name="com.xiaoming.eventbus.demo.EventBusFirstActivity" />
        <activity android:name="com.xiaoming.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xiaoming.router.FirstActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xiaoming.router.SecondActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>