<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.widget">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".appwidget.MulAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_demo_info" />
        </receiver>

        <activity android:name=".video.choosevideo.ChooseActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".aaaview.draw.ondraw.OnDrawActivity" />
        <activity android:name=".aaaview.layout.onLayout.OnLayoutActivity" />
        <activity android:name=".aaaview.measure.onMeasure.OnMeasureActivity3" />
        <activity android:name=".aaaview.measure.onMeasure.OnMeasureActivity2" />
        <activity android:name=".aaaview.measure.onMeasure.OnMeasureActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".image.drawable.DrawableActivity" />
        <activity android:name=".aaaview.alpha.AlphaActivity" />
        <activity android:name=".aaaview.textureview.TextureViewActivity" />
        <activity android:name=".aaaview.surfaceview.SurfaceViewActivity" />
        <activity android:name=".aaaview.layout.dynamic_add_remove.DynamicAddOrRemoveActivity2" />
        <activity android:name=".aaaview.layout.dynamic_add_remove.DynamicAddOrRemoveActivity" />
        <activity android:name=".aaaview.custom_view.gif.GifDemoActivity" />
        <activity android:name=".banner.banner2.Banner2Activity" />
        <activity android:name=".aaaview.shape.ViewShapeActivity" />
        <activity android:name=".aaaview.custom_view.round_view.RoundFrameLayoutActivity" />
        <activity android:name=".pullrefresh.pull_to_refresh.PullToRefreshDemoActivity" />
        <activity android:name=".animation.activity.Activity2" />
        <activity android:name=".animation.activity.Activity1" />
        <activity android:name=".aaaview.share_a_view.ShareAView2Activity" />
        <activity android:name=".aaaview.share_a_view.ShareAViewActivity" />
        <activity android:name=".material_design.coordinatorlayout.coordinatorlayout2.CoordinatorLayout2Activity" />
        <activity
            android:name=".material_design.coordinatorlayout.CoordinatorLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".material_design.NestedScrollView.demo2.ScrollViewDemoActivity" />
        <activity android:name=".material_design.NestedScrollView.demo2.NestedScrollDemo2Activity" />
        <activity android:name=".material_design.NestedScrollView.demo1.NestedScrollDemoActivity" />
        <activity android:name=".aaaview.get_tag.ViewGetTagActivity" />
        <activity android:name=".aaaview.layout.viewstub.ViewStubActivity" />
        <activity android:name=".material_design.toolbar.ToolbarActivity" />
        <activity android:name=".material_design.MaterialDesignActivity" />
        <activity
            android:name=".material_design.viewpager2.ViewPager2Activity"
            android:theme="@style/MaterialAppTheme" />
        <activity android:name=".recyclerview.recycle.RecyclerActivity" />
        <activity android:name=".recyclerview.ceiling.CeilingActivity" />
        <activity android:name=".aaaview.custom_view.fish.FishActivity" />
        <activity android:name=".aaaview.ViewKownledgePointsActivity" />
        <activity android:name=".im.ChatActivity" />
        <activity android:name=".textview.TextView1Activity" />
        <activity android:name=".animation.textview.TextViewActivity" />
        <activity android:name=".animation.lottie.LottieNetworkAnimActivity" />
        <activity android:name=".animation.lottie.LottieAnimationActivity2" />
        <activity android:name=".animation.lottie.LottieAnimationActivity" />
        <activity android:name=".animation.lottie.LottieActivity" />
        <activity android:name=".animation.AnimationTestActivity" />
        <activity android:name=".animation.Animation1Activity" />
        <activity android:name=".banner.Banner.BannerActivity" />
        <activity android:name=".banner.BannerTestActivity" />
        <activity android:name=".dialog.AlertDialogActivity" />
        <activity android:name=".loading.ProgressBarActivity" />
        <activity android:name=".loading.LinearDialogUpdateActivity" />
        <activity android:name=".loading.LinearDialogActivity" />
        <activity android:name=".loading.NormalDialogActivity" />
        <activity android:name=".loading.LoadingDemoActivity" />
        <activity android:name=".listview.listviewdemo.demo3.ListView3Activity" />
        <activity android:name=".listview.listviewdemo.demo2.ListView2Activity" />
        <activity android:name=".listview.listviewdemo.demo1.ListView1Activity" />
        <activity android:name=".textview.TextViewTestActivity" />
        <activity android:name=".recyclerview.itemdecoration2.ItemDecorationTest2Activity" />
        <activity android:name=".recyclerview.ItemDecoration.ItemDecorationTestActivity" />
        <activity android:name=".statusbar.ImmerseStatusBarActivity" />
        <activity android:name=".statusbar.StatusBarTestActivity" />
        <activity android:name=".image.ImageTestActivity" />
        <activity android:name=".dialog.DialogTestActivity" />
        <activity android:name=".listview.backtotop.BackToTopActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".listview.pagingrequest.PagingRequestActivity" />
        <activity android:name=".scroll.scrollconflict.demo3.ScrollConflict3Activity" />
        <activity android:name=".scroll.scrollconflict.demo2.ScrollConflict2Activity" />
        <activity android:name=".scroll.scrollconflict.demo1.ScrollConflictActivity" />
        <activity android:name=".scroll.doublescroll.recyclerviewrecyclerview.ScrollViewActivity" />
        <activity android:name=".horizontalscrollview.TabStripActivity" />
        <activity android:name=".scroll.doublescroll.scrollviewrecyclerview.ScrollviewActivity" />
        <activity android:name=".keyboard.KeyboardEntranceActivity" />
        <activity android:name=".pullrefresh.PullRefreshActivity" />
        <activity android:name=".recyclerview.twoitemsrecyclerview.TwoItemsRecyclerViewActivity" />
        <activity android:name=".recyclerview.nestrecyclerview.NestRecyclerViewActivity" />
        <activity android:name=".recyclerview.waterfallrecyclerview.WaterfallRecyclerViewActivity" />
        <activity android:name=".recyclerview.gridrecyclerview.GridRecyclerViewActivity" />
        <activity android:name=".recyclerview.horilinearrecyclerview.HoriLinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.linearrecyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".video.playvideo.VideoActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.widget.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>