<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.widget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aaaview.custom_view.fish.FishActivity"></activity>
        <activity android:name=".aaaview.ViewKownledgePointsActivity" />
        <activity android:name=".im.ChatActivity" />
        <activity android:name=".textview.TextView1Activity" />
        <activity android:name=".animation.textview.TextViewActivity" />
        <activity android:name=".animation.lottie.LottieNetworkAnimActivity" />
        <activity android:name=".animation.lottie.LottieAnimationActivity2" />
        <activity android:name=".animation.lottie.LottieAnimationActivity" />
        <activity android:name=".animation.lottie.LottieActivity" />
        <activity android:name=".animation.AnimationTestActivity" />
        <activity android:name=".animation.Animation1Activity" />
        <activity android:name=".banner.Banner.BannerActivity" />
        <activity android:name=".banner.BannerTestActivity" />
        <activity android:name=".dialog.AlertDialogActivity" />
        <activity android:name=".loading.ProgressBarActivity" />
        <activity android:name=".loading.LinearDialogUpdateActivity" />
        <activity android:name=".loading.LinearDialogActivity" />
        <activity android:name=".loading.NormalDialogActivity" />
        <activity android:name=".loading.LoadingDemoActivity" />
        <activity android:name=".listview.listviewdemo.demo3.ListView3Activity" />
        <activity android:name=".listview.listviewdemo.demo2.ListView2Activity" />
        <activity android:name=".listview.listviewdemo.demo1.ListView1Activity" />
        <activity android:name=".textview.TextViewTestActivity" />
        <activity android:name=".recyclerview.itemdecoration2.ItemDecorationTest2Activity" />
        <activity android:name=".recyclerview.ItemDecoration.ItemDecorationTestActivity" />
        <activity android:name=".statusbar.ImmerseStatusBarActivity" />
        <activity android:name=".statusbar.StatusBarTestActivity" />
        <activity android:name=".image.ImageTestActivity" />
        <activity android:name=".dialog.DialogTestActivity" />
        <activity android:name=".listview.backtotop.BackToTopActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".listview.pagingrequest.PagingRequestActivity" />
        <activity android:name=".scroll.scrollconflict.demo3.ScrollConflict3Activity" />
        <activity android:name=".scroll.scrollconflict.demo2.ScrollConflict2Activity" />
        <activity android:name=".scroll.scrollconflict.demo1.ScrollConflictActivity" />
        <activity android:name=".scroll.doublescroll.recyclerviewrecyclerview.ScrollViewActivity" />
        <activity android:name=".horizontalscrollview.TabStripActivity" />
        <activity android:name=".scroll.doublescroll.scrollviewrecyclerview.ScrollviewActivity" />
        <activity android:name=".keyboard.KeyboardEntranceActivity" />
        <activity android:name=".pullrefresh.PullRefreshActivity" />
        <activity android:name=".recyclerview.twoitemsrecyclerview.TwoItemsRecyclerViewActivity" />
        <activity android:name=".recyclerview.nestrecyclerview.NestRecyclerViewActivity" />
        <activity android:name=".recyclerview.waterfallrecyclerview.WaterfallRecyclerViewActivity" />
        <activity android:name=".recyclerview.gridrecyclerview.GridRecyclerViewActivity" />
        <activity android:name=".recyclerview.horilinearrecyclerview.HoriLinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.linearrecyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".video.VideoActivity" />
    </application>

</manifest>